
/* DEBUG:  */
body [class*="col-"] {
  /* height: 400px; */
  /* background-color: pink;
  border: 1px solid red; */
}
/* DEBUG:  */

/* Utility */
.my-bg-sblue {
  background-color: #2C3E50;
}
.my-bg-green {
  background-color: #1ABC9C;
}
.h-100 {
  height: 100px !important;
}
.h-250 {
  height: 250px !important;
}
.h-300 {
  height: 300px !important;
}
.h-700 {
  height: 700px !important;
}
.h-400 {
  height: 400px;
}
.mb-0{
  margin-bottom: 0px !important;
}
.mb-25{
  margin-bottom: 25px;
}
.mt-150 {
  margin-top: 150px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-25 {
  margin-top: 25px;
}
.c-white {
  color: white;
}
.f-bold {
  font-weight: bold;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-left: auto !important;
}
/* Utility */

nav {
  height: 100px;
}
.uppercase {
  text-transform: uppercase !important;
}
.navbar a {
  color: white;
}
.navbar-brand.mt-25 {
  font-size: 2em;
}
.nav.navbar-nav.navbar-right.mt-25 {
  font-size: 1.3em;
}
.svg-header {
  width: 200px;
  vertical-align: middle;
}
.align-items-center {
    align-items: center !important;
}
.jumbotron {
  color: white;
}
.star {
  font-size: 30px;
  line-height: 2px;
  display: inline-block;
  vertical-align: middle;
}
.divider::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: white;
  line-height: 2px;
  vertical-align: middle;
  margin-right: 10px;
}
.divider::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: white;
  line-height: 2px;
  vertical-align: middle;
  margin-left: 10px;
}
.divider-b::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: black;
  line-height: 2px;
  vertical-align: middle;
  margin-right: 10px;
}
.divider-b::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: black;
  line-height: 2px;
  vertical-align: middle;
  margin-left: 10px;
}
/* card */
#card h2 {
  font-size: 3em;
}
.rounded {
  border-radius: 10px;
}
.img-port {
  width: 100%;
  padding-top: 40px;
  position: relative;
}
.bg-card {
  position: absolute;
  top: 50%;
  left: 50%;
}
.hover-card {
  background-color:  #1ABC9C;
  z-index: 100;
  height: 100%;
}
/* /card */

/* About */
#about h2 {
  font-size: 3em;
  margin-top: 100px;
}
#about p {
  color: white;
  font-size: 25px;
}
.download {
  width: 30px;
  color: white;
}
.btn-50 {
  margin-bottom: 100px;
  text-align: center;
}
.btn {
  font-size: 1.5em;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
}
/* /About */

/* Form */
#form h2 {
  font-size: 3em;
  margin-top: 100px;
}
.input-text{
  margin: 30px;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #e9ecef;
}
.input-text input {
  font-size: 1.5em;
  border-style: hidden;
  width: 100%;
}
.input-text textarea {
  font-size: 1.5em;
  border-style: hidden;
  width: 100%;
}
textarea:focus, input:focus{
  outline: none;
}
.text-m {
  padding-bottom: 100px;
  height: 100%;
}
.input-btn {
  margin: 10px;
  padding: 25px;
  border-style: hidden;
  font-size: 1.2em;
  border-radius: 10px;
  color: white;
}
/* /Form */

/* footer */
